.App {
  text-align: center;
}
li a {
  margin: 20px;
  text-decoration: none;
  color: yellow;
}
li a:hover{
  color: white;
}
.footer {
  background-color: #e4d44a;
  margin: 0px auto;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  min-height: 400px;
}
